<div class="project-select-dialog">
    <h1>{{t "project-select-dialog.title"}}</h1>
    <div class="last-opened-projects">
        {{t "project-select-dialog.last-opened-projects"}}
    </div>
    <div class="open-project">
        <button id="open-project">{{t "project-select-dialog.open-project"}}</button>
    </div>
</div>
